#root_extension {
	/* HTML5 display-role reset for older browsers */
  }
  #root_extension div,
  #root_extension span,
  #root_extension applet,
  #root_extension object,
  #root_extension iframe,
  #root_extension h1,
  #root_extension h2,
  #root_extension h3,
  #root_extension h4,
  #root_extension h5,
  #root_extension h6,
  #root_extension p,
  #root_extension blockquote,
  #root_extension pre,
  #root_extension a,
  #root_extension abbr,
  #root_extension acronym,
  #root_extension address,
  #root_extension big,
  #root_extension cite,
  #root_extension code,
  #root_extension del,
  #root_extension dfn,
  #root_extension em,
  #root_extension img,
  #root_extension ins,
  #root_extension kbd,
  #root_extension q,
  #root_extension s,
  #root_extension samp,
  #root_extension small,
  #root_extension strike,
  #root_extension strong,
  #root_extension sub,
  #root_extension sup,
  #root_extension tt,
  #root_extension var,
  #root_extension b,
  #root_extension u,
  #root_extension i,
  #root_extension center,
  #root_extension dl,
  #root_extension dt,
  #root_extension dd,
  #root_extension ol,
  #root_extension ul,
  #root_extension li,
  #root_extension fieldset,
  #root_extension form,
  #root_extension label,
  #root_extension legend,
  #root_extension table,
  #root_extension caption,
  #root_extension tbody,
  #root_extension tfoot,
  #root_extension thead,
  #root_extension tr,
  #root_extension th,
  #root_extension td,
  #root_extension article,
  #root_extension aside,
  #root_extension canvas,
  #root_extension details,
  #root_extension embed,
  #root_extension figure,
  #root_extension figcaption,
  #root_extension footer,
  #root_extension header,
  #root_extension hgroup,
  #root_extension menu,
  #root_extension nav,
  #root_extension output,
  #root_extension ruby,
  #root_extension section,
  #root_extension summary,
  #root_extension time,
  #root_extension mark,
  #root_extension audio,
  #root_extension video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  }
  #root_extension article,
  #root_extension aside,
  #root_extension details,
  #root_extension figcaption,
  #root_extension figure,
  #root_extension footer,
  #root_extension header,
  #root_extension hgroup,
  #root_extension menu,
  #root_extension nav,
  #root_extension section {
	display: block;
  }
  #root_extension body {
	line-height: 1;
  }
  #root_extension ol,
  #root_extension ul {
	list-style: none;
  }
  #root_extension blockquote,
  #root_extension q {
	quotes: none;
  }
  #root_extension blockquote:before,
  #root_extension blockquote:after,
  #root_extension q:before,
  #root_extension q:after {
	content: '';
	content: none;
  }
  #root_extension table {
	border-collapse: collapse;
	border-spacing: 0;
  }
  